@import './../../../styles/utilities';
@import './../../../styles/settings.variables';

.list {
  border: thin solid map-get($colors, 'border');
  border-radius: px-to-rem(4);
  font-size: px-to-rem(16);
  min-width: 40%;

  &__header {
    align-items: center;
    border: thin solid map-get($colors, 'border');
    color: black;
    display: flex;
    flex-direction: column;
    height: px-to-rem(48);
    justify-content: center;
    padding: px-to-rem(32) px-to-rem(8);

    &__subtitle {
      font-weight: bold;
      font-size: px-to-rem(22);
    }

    &__description {
      font-size: px-to-rem(14);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
  }
}