@import "./../../../styles/utilities";
@import "./../../../styles/settings.variables";

button {
  background-color: map-get($colors, "primary-background");
  border: transparent;
  border-radius: px-to-rem(5);
  color: white;
  font-size: px-to-rem(16);
  font-weight: bold;
  height: px-to-rem(45);
  margin-bottom: px-to-rem(10);

  &:hover {
    background-color: darken(map-get($colors, "primary-background"), 10%);
    cursor: pointer;
  }

  &.disabled {
    background-color: #0000001f;
    color: #8b8b8b;
  }
}
