@import "./../../../styles/utilities";
@import "./../../../styles/settings.variables";

.dropdown-container {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 8;
}

.dropdown {
  z-index: 9;

  &__header {
    border-radius: 30%;
    cursor: pointer;
    padding: px-to-rem(4);
    user-select: none;

    &:hover {
      background-color: lighten(map-get($colors, "link"), 10%);
    }
  }

  &.closed {
    .dropdown__content {
      display: none;
    }
  }

  &.opened {
    .dropdown__content {
      background-color: map-get($colors, "link");
      border-radius: px-to-rem(5);
      padding: px-to-rem(4) 0;
      position: absolute;
      right: px-to-rem(20);

      ul {
        list-style-type: none;
        transition-delay: 0.2s;
        user-select: none;

        li {
          cursor: pointer;
          padding: px-to-rem(4) px-to-rem(12);

          &.selected {
            background-color: lighten(map-get($colors, "link"), 10%);
          }

          &:hover {
            background-color: lighten(map-get($colors, "link"), 10%);
          }
        }
      }
    }
  }
}
