@import "./../../../styles/utilities";
@import "./../../../styles/settings.variables";

.card {
  border: thin solid map-get($colors, "border");
  border-radius: px-to-rem(4);
  display: flex;
  flex-direction: column;
  margin: px-to-rem(12);

  &__item {
    align-items: center;
    display: flex;
    font-size: px-to-rem(18);
    font-weight: 500;
    justify-content: space-between;
    padding: px-to-rem(16) px-to-rem(22);

    .blocked {
      svg {
        fill: map-get($colors, "dark-red");
      }
    }

    .actived {
      svg {
        fill: #006d00;
      }
    }

    &__label {
      color: black;
      text-transform: capitalize;
    }

    &__info {
      border: thin solid map-get($colors, "border");
      border-radius: px-to-rem(5);
      padding: px-to-rem(6) px-to-rem(2);
      text-align: center;
    }

    &:not(:last-child) {
      border-bottom: thin solid map-get($colors, "border");
    }
  }

  .edit-container {
    align-items: center;
    display: flex;
    color: map-get($colors, "link");

    &:hover {
      cursor: pointer;
      color: map-get($colors, "link-hover");
    }
  }
}
