@import "./../../../styles/utilities";
@import "./../../../styles/settings.variables";

.card {
  border: thin solid map-get($colors, "border");
  border-radius: px-to-rem(4);
  display: flex;
  flex-direction: column;
  margin: px-to-rem(12);
}
