@import './../../../styles/utilities';

.card {
  border: thin solid #d3ddf2;
  border-radius: px-to-rem(4);
  display: flex;
  flex-direction: column;
  margin: px-to-rem(12);

  &__item {
    align-items: center;
    display: flex;
    font-size: px-to-rem(18);
    font-weight: 500;
    justify-content: space-between;
    padding: px-to-rem(16) px-to-rem(22);

    &:not(:last-child) {
      border-bottom: thin solid #d3ddf2;
    }
  }

  .edit-container {
    align-items: center;
    display: flex;
    color: #073392;

    &:hover {
      cursor: pointer;
      color: #2463eb;
    }
  }
}