@import './../../../styles/utilities';

.title {
  color: #010152;
  font-size: px-to-rem(32);
  margin-bottom: px-to-rem(8);
}

.description {
  font-size: px-to-rem(16);
  margin-bottom: px-to-rem(30);
}

.login-container {
  display: flex;
  flex-direction: column;

  input {
    border: 1px solid #9c9cf5;
    border-radius: px-to-rem(5);
    height: px-to-rem(45);
    min-width: px-to-rem(250);
    padding: px-to-rem(16) px-to-rem(8);

    &.error {
      border: 1px solid #bb0d0d;

      &:hover {
        border: 1px solid #bb0d0d;
      }
    }
  }

  &__input-container {
    display: flex;
    flex-direction: column;
    min-height: px-to-rem(75);
    position: relative;

    p.label {
      font-size: px-to-rem(14);
      text-transform: none;
    }

    &__error {
      color: #bb0d0d;
      font-size: px-to-rem(12);
    }

    &.password-container {
      position: relative;

      svg {
        cursor: pointer;
        position: absolute;
        right: px-to-rem(12);
        top: px-to-rem(10);
        height: 24px;
      }
    }
  }
}