@import './utilities';

.auto-height {
  height: auto !important;
}

.label {
  color: #9c9c9c;
  font-weight: 500;
  text-transform: capitalize;
}

.link-style {
  color: #1d1deb;
  font-size: px-to-rem(14);

  &:hover {
    color: lighten(#1d1deb, 10%);
    text-decoration: underline;
  }
}

.input-effect {
  background-color: transparent;
}

.input-effect ~ label {
  color: #aaa;
  font-size: px-to-rem(12);
  left: px-to-rem(4);
  letter-spacing: 0.5px;
  position: absolute;
  top: px-to-rem(16);
  transition: 0.3s;
  width: 100%;
  z-index: -1;
}

.input-effect:focus ~ label,
.input-effect:hover ~ label,
.has-content ~ label {
  top: -16px;
  font-size: px-to-rem(12);
  color: #3399FF;
  transition: 0.3s;
}
